{
  "presets": [
    {
      "plugins": [ "./build/babelRelayPlugin" ]
    },
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    [ "./build/babelRelayPlugin" ],
    [ "transform-runtime" ],
    [ "typecheck" ],
    [ "transform-decorators-legacy" ]
  ],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    }
  }
}
